<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center container">
          <img src="../../../assets/test.jpg" style="width: 120px" />
        </div>
        <h1 class="text-center">Register</h1>
        <form>
          <!-- username -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <!-- [password] -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <!-- firstname -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>
          <!-- lastname -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <!-- email -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <!-- phone -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone no</mat-label>
            <input type="number" matInput placeholder="Enter here " />

            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
